<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Tetris</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style href="{% static 'css/style.css'%}"></style>
</head>
<body>
        <div class="container-mt-4">
            <div class="row">
                <div class="col-md-2 mt-2"></div>
                <div class="col-md-8 mt-2">
                    <canvas id="game-board" width="250" height="500"></canvas>
                </div>
                <div class="col-md-2 mt-2">
                    <canvas id="queue-board" width="200" height="200"></canvas>
                </div>
            </div>
    </div>
    <script src="{% static 'js/tetrominoes.js'%}"></script>
    <script src="{% static 'js/tetris.js'%}"></script>
</body>
</html>