{% extends 'base.html' %}
{% load static %}

{% block title %}
Tetris - Play
{% endblock title %}

{% block header %}
<div id="header">
    <div id="logo"><span class="logo" style="color: #c76c6c;">T</span><span class="logo" style="color: #d48e31;">E</span><span class="logo" style="color: #cfba44;">T</span><span class="logo" style="color: #51bb71;">R</span><span class="logo" style="color: #5082b1;">I</span><span class="logo" style="color: #89499c;">S</span></div>
    <p>Welcome, PlayerOne{{ username }}!</p>
</div>
{% endblock header %}

{% block nav %}
<ul class="nav">
    <li><a href="/rankings/"><span class="material-icons">&#xea23;</span> RANKINGS</a></li>
    <li><a href="/logout"><span class="material-icons">&#xe9ba;</span> LOGOUT</a></li>
</ul>
{% endblock nav %}

{% block content %}
<div class="game_panel">
    <div class="sm_tile">
        <div id="score" class="sq_val">0</div>
        <div class="sm_tile_label">SCORE</div>
    </div>
    <div class="sm_tile">
        <div id="level"class="sq_val">1</div>
        <div class="sm_tile_label">LEVEL</div>
    </div>
</div>
<div class="board_tile">
    <canvas id="game-board" width="250" height="500"></canvas>
</div>
<div class="game_panel">
    <div class="sm_tile">
        <div class="sq_val">
            <canvas 
                id="queue-board" 
                width="100" 
                height="100">
            </canvas>
        </div>
        <div class="sm_tile_label">NEXT</div>
    </div>
    <div class="controls_tile">
        <div class="controls">
            <ul>
                <li><span class="material-icons">&#xe314;</span> LEFT</li>
                <li><span class="material-icons">&#xe315;</span> RIGHT</li>
                <li><span class="material-icons">&#xe316;</span> ROTATE</li>
                <li><span class="material-icons">&#xe313;</span> DROP</li>
                <li><span class="material-icons">&#xe256;</span> <span id="hard-drop-text">HARD DROP</span> </li>
            </ul>
        </div>
        <div class="controls_label">CONTROLS</div>
    </div>
    <div class="sm_tile">
        <div class="game_control" id="strtstpbtn" value="start"><span class="material-icons md-60 green" id="strtstpicon" style="cursor: pointer;">&#xe038;</span></div>
        <div class="sm_tile_label" id="strtstpbtntitle" value="PLAY">PLAY</div>
    </div>
</div>
{% endblock content %}

{% block game %}


{% endblock game %}
