{% extends 'base.html' %}
{% load static %}

{% block title %}
Tetris - {{ user.username }} Profile
{% endblock title %}

{% block header %}
    <p>Welcome, {{ user.username }} !</p>
{% endblock header %}

{% block nav %}
<ul class="nav">
    <li><a href="/game"><span class="material-icons">&#xea28;</span> PLAY</a></li>
    <li><a href="/rankings"><span class="material-icons">&#xea23;</span> RANKINGS</a></li>
    <li><a href="/logout"><span class="material-icons">&#xe9ba;</span> LOGOUT</a></li>
</ul>
{% endblock nav %}

{% block content %}
<div class="main_tile">
    <div class="tile_head"><span class="material-icons md-35">&#xe838;</span> Player {{ player }} STATS <span class="material-icons md-35">&#xe838;</span></div>
    <div id="stats">
        <ul class="stats">
            <li><span style="font-weight: 500;">Highest Score:</span> 2200</li>
            <li><span style="font-weight: 500;">Total Games Played:</span> 150</li>
            <li><span style="font-weight: 500;">Playing Since:</span> 04/01/21</li>
            <li><span style="font-weight: 500;">Scoreboard Rank:</span> 1</li>
        </ul>
    </div>
</div>
{% endblock content %}