{% extends 'base.html' %}
{% load static %}

{% block title %}
Tetris - PlayerOne {{ player }} Profile
{% endblock title %}

{% block header %}
<div id="header">
    <div id="logo"><span class="logo" style="color: #c76c6c;">T</span><span class="logo" style="color: #d48e31;">E</span><span class="logo" style="color: #cfba44;">T</span><span class="logo" style="color: #51bb71;">R</span><span class="logo" style="color: #5082b1;">I</span><span class="logo" style="color: #89499c;">S</span></div>
    <p>Welcome, {{ user.username }}!</p>
</div>
{% endblock header %}

{% block nav %}
<ul class="nav">
    <li><a href="/game"><span class="material-icons">&#xea28;</span> PLAY</a></li>
    <li><a href="/rankings"><span class="material-icons">&#xea23;</span> RANKINGS</a></li>
    <li><a href="/logout"><span class="material-icons">&#xe9ba;</span> LOGOUT</a></li>
</ul>
{% endblock nav %}

{% block content %}
<div class="main_tile">
    <div class="tile_head"><span class="material-icons md-35">&#xe838;</span> Player {{ player }} STATS <span class="material-icons md-35">&#xe838;</span></div>
    <div id="stats">
        <ul class="stats">
            <li><span style="font-weight: 500;">Highest Score:</span> 2200</li>
            <li><span style="font-weight: 500;">Total Games Played:</span> 150</li>
            <li><span style="font-weight: 500;">Playing Since:</span> 04/01/21</li>
            <li><span style="font-weight: 500;">Scoreboard Rank:</span> 1</li>
        </ul>
    </div>
</div>
{% endblock content %}