{% extends 'base.html' %}
{% load static %}

{% block title %}
Tetris - Edit Profile
{% endblock title %}

{% block header %}
    <p>Welcome, {{ user.username }}!</p>
{% endblock header %}

{% block nav %}
<ul class="nav">
    <li><a href="/game"><span class="material-icons">&#xea28;</span> PLAY</a></li>
    <li><a href="/rankings"><span class="material-icons">&#xea23;</span> RANKINGS</a></li>
    <li><a href="/logout"><span class="material-icons">&#xe9ba;</span> LOGOUT</a></li>
</ul>
{% endblock nav %}

{% block content %}
<div class="main_tile">
    <div class="tile_head">EDIT PROFILE</div>
    <form action="#" method="POST">
        {% csrf_token %}
        <div class="input_group4">
            <input class="input_style-2" type="text" placeholder="FIRST NAME" name="first_name">
        </div>
        <div class="input_group4">
            <input class="input_style-2" type="text" placeholder="LAST NAME" name="last_name">
        </div>
        <div class="input_group4">
            <input class="input_style-2" type="text" placeholder="EMAIL" name="email">
        </div>
        <div class="input_group4">
            <input class="input_style-2" type="text" placeholder="USERNAME" name="username">
        </div>
        <br>
        <input type="submit" name="submit" id="submit" class="submit" value="UPDATE PROFILE" disabled>
    </form>
</div>
{% endblock content %}
