{% extends 'base.html' %}
{% load static %}

{% block title %}
Tetris - Rankings
{% endblock title %}

{% block header %}
<div id="header">
    <div id="logo"><span class="logo" style="color: #c76c6c;">T</span><span class="logo" style="color: #d48e31;">E</span><span class="logo" style="color: #cfba44;">T</span><span class="logo" style="color: #51bb71;">R</span><span class="logo" style="color: #5082b1;">I</span><span class="logo" style="color: #89499c;">S</span></div>
    <p>Welcome, {{ user.username }}!</p>
</div>
{% endblock header %}

{% block nav %}
<ul class="nav">
    <li><a href="/game"><span class="material-icons">&#xea28;</span> PLAY</a></li>
    <li><a href="/profile"><span class="material-icons">&#xe853;</span> PROFILE</a></li>
    <li><a href="/logout"><span class="material-icons">&#xe9ba;</span> LOGOUT</a></li>
</ul>
{% endblock nav %}

{% block content %}
<div class="main_tile">
    <div class="tile_head"><span class="material-icons md-35">&#xe838;</span> MY STATS <span class="material-icons md-35">&#xe838;</span></div>
    <div id="stats">
        <ul class="stats">
            <li><span style="font-weight: 500;">Highest Score:</span> 1200{{ user.high_score }}</li>
            <li><span style="font-weight: 500;">Total Games Played:</span> 20{{ user.total_games }}</li>
            <li><span style="font-weight: 500;">Playing Since:</span> {{ user.created_at|date:"m/d/y" }}</li>
            <li><span style="font-weight: 500;">Scoreboard Rank: 1</span></li>
        </ul>
    </div>
</div>
<div class="main_tile">
    <div class="tile_head"><span class="material-icons md-35">&#xea23;</span> OVERALL STANDINGS <span class="material-icons md-35">&#xea23;</span></div>
    <div id="overall_stats" class="stat_tog">
        <table class="stat_table">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Score</th>
                <th>Player</th>
            </tr>
            </thead>
            <tr>
                <td>1</td>
                <td>1200</td>
                <td>PlayerOne</td>
            </tr>
            <tr>
                <td>2</td>
                <td>1100</td>
                <td><a href="/player">PlayerTwo</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>1000</td>
                <td><a href="/player">PlayerThree</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>900</td>
                <td><a href="/player">PlayerFour</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>800</td>
                <td><a href="/player">PlayerFive</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td>700</td>
                <td><a href="/player">PlayerSix</a></td>
            </tr>
            <tr>
                <td>7</td>
                <td>600</td>
                <td><a href="/player">PlayerSeven</a></td>
            </tr>
            <tr>
                <td>8</td>
                <td>500</td>
                <td><a href="/player">PlayerEight</a></td>
            </tr>
            <tr>
                <td>9</td>
                <td>400</td>
                <td><a href="/player">PlayerNine</a></td>
            </tr>
            <tr>
                <td>10</td>
                <td>300</td>
                <td><a href="/player">PlayerTen</a></td>
            </tr>

        </table>
    </div>
</div>
{% endblock content %}
