{% extends 'base.html' %}
{% load static %}

{% block title %}
Tetris - Login/Registration
{% endblock title %}

{% block header %}
<div id="header">
    <div id="logo"><span class="logo" style="color: #c76c6c;">T</span><span class="logo" style="color: #d48e31;">E</span><span class="logo" style="color: #cfba44;">T</span><span class="logo" style="color: #51bb71;">R</span><span class="logo" style="color: #5082b1;">I</span><span class="logo" style="color: #89499c;">S</span></div>
</div>
{% endblock header %}

{% block nav %}
    <div id="login">
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="input_group2">
                <input class="input_style-1" type="text" placeholder="EMAIL" name="email">
            </div>
            <div class="input_group2">
                <input class="input_style-1" type="password" placeholder="PASSWORD" name="password">
            </div>
            <div class="input_group3">
                <input type="submit" name="submit" id="submit" class="login_submit" value="LOGIN" />
            </div>
        </form>
    </div>
{% endblock nav %}

{% block content %}
<div class="main_tile">
    <div id="tetromino_logo">
    </div>
    <p>In 1984, Tetris® was born from the imagination of computer programmer Alexey Pajitnov. Inspired by his favorite puzzle board game, Pentominos, Pajitnov created an electronic game that let players arrange puzzle pieces in real time as they fell from the top of the playing field. The resulting design was a game that used seven distinctive geometric playing pieces, each made up of four squares. Pajitnov called this game “Tetris,” a combination of “tetra” (the Greek word meaning “four”) and “tennis” (his favorite sport).</p>
    <span class="material-icons md-80">&#xea28;</span>
    <p><a href="#how_to_modal">How to Play</a></p>
</div>
<div class="main_tile">
    <div class="tile_head">REGISTRATION</div>
    <form action="#" method="POST">
        {% csrf_token %}
        <div class="input_group4">
            <input class="input_style-2" type="text" placeholder="FIRST NAME" name="first_name">
        </div>
        <div class="input_group4">
            <input class="input_style-2" type="text" placeholder="LAST NAME" name="last_name">
        </div>
        <div class="input_group4">
            <input class="input_style-2" type="text" placeholder="USERNAME" name="username">
        </div>
        <div class="input_group4">
            <input class="input_style-2" type="text" placeholder="EMAIL" name="email">
        </div>
        <div class="input_group4">
            <input class="input_style-2" type="password" placeholder="PASSWORD" name="password">
        </div>
        <div class="input_group4">
            <input class="input_style-2" type="password" placeholder="CONFIRM PASSWORD" name="c_password">
        </div>
        <br>
        <input type="submit" name="submit" id="submit" class="submit" value="REGISTER"/>
    </form>
</div>
<div id="how_to_modal" class="how_to_modal">
    <div class="how_to">
        <div class="tile_head">HOW TO PLAY</div>
        <p>Tetris requires players to strategically rotate, move, and drop a procession of Tetriminos that fall into the rectangular Matrix at increasing speeds. Players attempt to clear as many lines as possible by completing horizontal rows of blocks without empty space, but if the Tetriminos surpass the Skyline the game is over!</p>
        <a href="#" class="how_to_close"><span class="material-icons">&#xe5c9;</span></a>
    </div>
</div>
{% endblock content %}